@import 'tailwindcss';

/*
Colors:
SeaGreen #2E8B57
MediumSeaGreen #3CB371
Black #000000
Silver #C0C0C0
Snow #FFFAFA
Crimson #DC143C
*/

:root {
  --glass: rgba(255, 255, 255, 0.5);
  --background: lightgray;
  --shadow: var(--light);

  --lightest: rgb(179, 219, 179);
  --light: rgb(40, 137, 92);
  --medium: rgb(48, 140, 89);
  --darkest: seagreen;
}

/* Keyframes */
@keyframes shake {
  0% {
    transform: translateY(0);
  } /* Start at original position */
  25% {
    transform: translateY(-1px);
  } /* Move slightly down */
  50% {
    transform: translateY(1px);
  } /* Move slightly up */
  75% {
    transform: translateY(-1px);
  } /* Move slightly down again */
  100% {
    transform: translateY(0);
  } /* Return to original position */
}

@keyframes mow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw - 200px));
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes iridescence {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
/* animation: iridescence 1s infinite;
animation-timing-function: linear; */

@keyframes warning {
  0% {
    background-color: none;
  }
  50% {
    background-color: crimson;
    color: snow;
  }
  100% {
    background-color: none;
  }
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

  /* background: repeating-linear-gradient(
    45deg,
    red 0px,
    silver 40px,
    snow 60px,
    snow 80px
  ); */
  background-color: var(--background);
  min-height: 110vh;
  /* background-image: url('../src/assets/grass.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--darkest);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2535 2535' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(circle at 99% 5%, var(--darkest) 0%, transparent 30%),
    radial-gradient(circle at 1% 3%, var(--darkest) 0%, transparent 29%),
    radial-gradient(circle at 51% 103%, var(--lightest) 0%, transparent 47%),
    radial-gradient(
      circle at 66% 63%,
      var(--light) 16.09752791533027%,
      transparent 32.13033319788704%
    ),
    radial-gradient(
      circle at 51% 52%,
      var(--light) 16.09752791533027%,
      transparent 32.863114852109575%
    ),
    radial-gradient(
      circle at 31% 61%,
      var(--light) 16.09752791533027%,
      transparent 32.863114852109575%
    ),
    radial-gradient(
      circle at 100% 99%,
      var(--light) 16.09752791533027%,
      transparent 44.47265921287166%
    ),
    radial-gradient(
      circle at 2% 101%,
      var(--light) 16.09752791533027%,
      transparent 44.47265921287166%
    ),
    radial-gradient(
      circle at 79% 42%,
      var(--medium) 5.753662340850602%,
      transparent 37.98184067282947%
    ),
    radial-gradient(
      circle at 49% 18%,
      var(--medium) 12.036428704456181%,
      transparent 35.05874930160504%
    ),
    radial-gradient(
      circle at 23% 44%,
      var(--medium) 8.912275243803332%,
      transparent 33%
    );
  background-blend-mode: overlay, normal, normal, normal, normal, normal, normal,
    normal, normal, normal, normal, normal;
  animation: iridescence 1s 1;
  animation-timing-function: linear;
}

textarea {
  width: 30%;
  height: 8em;
}

input,
textarea {
  background-color: var(--glass);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 2px var(--shadow);
  border: 0px solid SeaGreen;
  color: black;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}
input:hover,
textarea:hover {
  background-color: SeaGreen;
  color: snow;
}
input:focus,
textarea:focus {
  outline: none;
  background-color: SeaGreen;
  color: snow;
}

select {
  border: 0px solid seagreen;
  background-color: var(--glass);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 2px var(--shadow);
  border-radius: 10px;
}
select:hover {
  background-color: SeaGreen;
  color: snow;
}
select:focus {
  outline: none;
  background-color: SeaGreen;
  color: snow;
}

.button {
  border: 2px solid SeaGreen;
  background-color: MediumSeaGreen;
  color: black;
}

.button:hover {
  background-color: seagreen;
  color: snow;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.align-center {
  text-align: center;
}

/* Nav */
.nav,
.nav-authenticated {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var();
  overflow: hidden;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(10deg, seagreen 50%, mediumseagreen 50%);
  background-size: 50px auto;
}

.nav *:not(.logo, .logo-text) {
  float: right;
  color: Snow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  background-color: MediumSeaGreen;
  color: Black;
}

/* nav authenticated */
.nav-authenticated div,
.nav-authenticated button {
  text-align: center;
  align-self: center;
  padding: 10px 16px;
  margin: 4px 0;
  font-size: 17px;
}
.username {
  float: left;
}

.nav-authenticated button {
  float: right;
}

.nav-authenticated button:hover,
.logo-text:hover {
  /* background-color: mediumseagreen; */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav button,
.nav-authenticated button,
.logo-text {
  border-radius: 10px;
}

/* Logo */
.logo {
  float: left;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  animation: shake 0.2s infinite alternate;
  transform: translate3d(0, 0, 0); /* Force hardware acceleration */
  backface-visibility: hidden; /* Prevent slight shakes at animation end */
  perspective: 1000px;
}

.logo:hover {
  animation: mow 4s alternate;
}

.logo-text {
  float: left;
  font-family: 'Copperplate';
  font-weight: bold;
  font-size: x-large;
  color: snow;
  padding: 9px 16px;
}

/* #text .logo-text:hover {
  color: crimson;
  animation: iridescence 1s infinite;
  animation-timing-function: linear;
} */

/* Delete Button */
.delete-button {
  color: crimson;
}
.delete-button:hover {
  animation: warning 1s infinite;
}

/* Logout */
.logout-button:hover {
  color: snow;
}

/* Main Page */
.main {
  padding: 0 5%;
}
.main *:not(.nav, .nav-authenticated) {
  position: relative;
}
.main:first-child {
  margin-top: 60px;
}

/* CreatePost */
.CreatePost {
  margin: inherit 80px 0;
  padding-bottom: 5px;
  text-align: center;
  background-color: var(--glass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0px;
  border-radius: 100px;
  box-shadow: 0px 5px 5px var(--shadow);
}

.CreatePost * {
  display: flex;
  justify-self: center;
}

.CreatePost strong {
  font-size: 30px;
  text-align: center;
}

.CreatePost input:last-of-type:hover {
  animation: iridescence 1s infinite;
  animation-timing-function: linear;
}

/* PostFilter */
.PostFilter {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--glass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 5px 5px var(--shadow);
  width: fit-content;
}

/* PostSorting */
.PostSorting {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--glass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 5px 5px var(--shadow);
  width: fit-content;
}

/* PostList */
.PostList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Post {
  width: 30%;
  border: 0px solid seagreen;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0px 5px 5px var(--shadow);
  background-color: var(--glass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.Post:hover {
  scale: 1.03;
  animation: float 2s infinite;
  animation-timing-function: ease-in-out;
}

.Post .PostLink *:not(img) {
  width: 100%;
  padding: 10px;
  margin: 0;
}

/* THIS WILL NEED ADJUSTED WHEN PICTURES ARE ADDED */
.Post img {
  background-color: var(--glass);
  width: 100%;
  border-radius: 8px 8px 0 0;
  aspect-ratio: 16/9;
}

.Post h3 {
  font-weight: bolder;
  font-size: x-large;
}

.Post div:last-of-type {
  border-radius: 0 0 8px 8px;
  font-style: italic;
  padding-bottom: 0;
}
