@import 'tailwindcss';

/*
Colors:
SeaGreen #2E8B57
MediumSeaGreen #3CB371
Black #000000
Silver #C0C0C0
Snow #FFFAFA
Crimson #DC143C
*/

/* Keyframes */
@keyframes shake {
  0% {
    transform: translateY(0);
  } /* Start at original position */
  25% {
    transform: translateY(-1px);
  } /* Move slightly down */
  50% {
    transform: translateY(1px);
  } /* Move slightly up */
  75% {
    transform: translateY(-1px);
  } /* Move slightly down again */
  100% {
    transform: translateY(0);
  } /* Return to original position */
}

@keyframes mow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw - 200px));
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes iridescence {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
/* animation: iridescence 1s infinite;
animation-timing-function: linear; */

@keyframes warning {
  0% {
    background-color: none;
  }
  50% {
    background-color: crimson;
    color: snow;
  }
  100% {
    background-color: none;
  }
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

  background: repeating-linear-gradient(
    45deg,
    seagreen 0px,
    seagreen 20px,
    mediumseagreen 5px,
    mediumseagreen 40px
  );
  height: 100vh;
  /* background-image: url('./src/assets/grass4.png'); */

  background-size: cover;
  background-repeat: no-repeat;
}

textarea {
  width: 30%;
  height: 8em;
}

input,
textarea {
  background-color: MediumSeaGreen;
  border: 2px solid SeaGreen;
  color: black;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}
input:hover,
textarea:hover {
  background-color: SeaGreen;
  color: snow;
}
input:focus,
textarea:focus {
  outline: none;
  background-color: SeaGreen;
  color: snow;
}

select {
  border: 2px solid seagreen;
  background-color: mediumseagreen;
  border-radius: 10px;
}
select:hover {
  background-color: SeaGreen;
  color: snow;
}
select:focus {
  outline: none;
  background-color: SeaGreen;
  color: snow;
}

.button {
  border: 2px solid SeaGreen;
  background-color: MediumSeaGreen;
  color: black;
}

.button:hover {
  background-color: seagreen;
  color: snow;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.align-center {
  text-align: center;
}

/* Nav */
.nav,
.nav-authenticated {
  position: fixed;
  top: 0;
  left: 0;
  background-color: SeaGreen;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(10deg, seagreen 50%, mediumseagreen 50%);
  background-size: 50px auto;
}

.nav *:not(.logo, .logo-text) {
  float: right;
  color: Snow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  background-color: MediumSeaGreen;
  color: Black;
}

/* nav authenticated */
.nav-authenticated div,
.nav-authenticated button {
  text-align: center;
  align-self: center;
  padding: 10px 16px;
  margin: 4px 0;
  font-size: 17px;
}
.username {
  float: left;
}

.nav-authenticated button {
  float: right;
}

.nav-authenticated button:hover,
.logo-text:hover {
  /* background-color: mediumseagreen; */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav button,
.nav-authenticated button,
.logo-text {
  border-radius: 10px;
}

/* Logo */
.logo {
  float: left;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  animation: shake 0.2s infinite alternate;
  transform: translate3d(0, 0, 0); /* Force hardware acceleration */
  backface-visibility: hidden; /* Prevent slight shakes at animation end */
  perspective: 1000px;
}

.logo:hover {
  animation: mow 4s alternate;
}

.logo-text {
  float: left;
  font-family: 'Copperplate';
  font-weight: bold;
  font-size: x-large;
  color: snow;
  padding: 9px 16px;
}

/* #text .logo-text:hover {
  color: crimson;
  animation: iridescence 1s infinite;
  animation-timing-function: linear;
} */

/* Delete Button */
.delete-button {
  color: crimson;
}
.delete-button:hover {
  animation: warning 1s infinite;
}

/* Logout */
.logout-button:hover {
  color: snow;
}

/* Main Page */
.main {
  padding: 0 5%;
}
.main *:not(.nav, .nav-authenticated) {
  position: relative;
}
.main:first-child {
  margin-top: 60px;
}

/* CreatePost */
.CreatePost {
  margin: inherit 80px 0;
  padding-bottom: 5px;
  text-align: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0px;
  border-radius: 100px;
  box-shadow: 0px 0px 10px seagreen;
}

.CreatePost * {
  display: flex;
  justify-self: center;
}

.CreatePost strong {
  font-size: 30px;
  text-align: center;
}

.CreatePost input:last-of-type:hover {
  animation: iridescence 1s infinite;
  animation-timing-function: linear;
}

/* PostFilter */
.PostFilter {
  padding: 10px;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px seagreen;
  width: fit-content;
}

/* PostSorting */
.PostSorting {
  padding: 10px;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px seagreen;
  width: fit-content;
}

/* PostList */
.PostList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Post {
  width: 30%;
  border: 0px solid seagreen;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0px 10px 10px seagreen;
  /* background-color: rgba(255, 255, 255, 0.4); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.Post:hover {
  scale: 1.03;
  animation: float 2s infinite;
  animation-timing-function: ease-in-out;
}

.Post *:not(img) {
  width: 100%;
  padding: 10px;
  margin: 0;
}

/* THIS WILL NEED ADJUSTED WHEN PICTURES ARE ADDED */
.Post img {
  background-color: snow;
  width: 100%;
  border-radius: 8px 8px 0 0;
  aspect-ratio: 16/9;
}

.Post h3 {
  font-weight: bolder;
  font-size: x-large;
}

.Post div:last-of-type {
  border-radius: 0 0 8px 8px;
  font-style: italic;
}
