@import 'tailwindcss';

/*
Colors:
SeaGreen #2E8B57
MediumSeaGreen #3CB371
Black #000000
Silver #C0C0C0
Snow #FFFAFA
Crimson #DC143C
*/

html {
  font-family: 'Courier New', Courier, monospace;
  background-color: mediumseagreen;
  color: black;
}

textarea {
  width: 30%;
  height: 8em;
}

input,
textarea {
  background-color: mediumseagreen;
  border: 2px solid seagreen;
  color: black;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}
input:hover,
textarea:hover {
  background-color: seagreen;
  color: snow;
}
input:focus,
textarea:focus {
  outline: none;
  background-color: seagreen;
  color: snow;
}

select {
  border: 2px solid seagreen;
  border-radius: 10px;
}
select:hover {
  background-color: seagreen;
  color: snow;
}
select:focus {
  outline: none;
  background-color: seagreen;
  color: snow;
}

.button {
  border: 2px solid SeaGreen;
  background-color: MediumSeaGreen;
  color: black;
}
.button:hover {
  background-color: rgb(25, 99, 57);
  color: snow;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.align-center {
  text-align: center;
}

/* Nav */
.nav,
.nav-authenticated {
  position: fixed;
  top: 0;
  left: 0;
  background-color: SeaGreen;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.nav *:not(.logo, .logo-text) {
  float: right;
  color: Snow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  background-color: MediumSeaGreen;
  color: Black;
}

/* nav authenticated */
.nav-authenticated div,
.nav-authenticated button,
.logo-text {
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
.username {
  float: left;
}

.nav-authenticated button {
  float: right;
}

.nav-authenticated button:hover,
.logo-text:hover {
  background-color: mediumseagreen;
}

/* Logo */
.logo {
  float: left;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.logo-text {
  float: left;
  font-family: 'Copperplate';
  font-weight: bold;
  color: silver;
}

/* Delete Button */
.delete-button {
  color: crimson;
}
.delete-button:hover {
  font-weight: bold;
}

/* Logout */
.logout-button:hover {
  color: snow;
}

/* Main Page */
.main {
  padding: 0 5%;
}
.main *:not(.nav, .nav-authenticated) {
  position: relative;
}
.main:first-child {
  margin-top: 60px;
}

/* CreatePost */
.CreatePost {
  margin: inherit 80px 0;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 2px solid silver;
}

.CreatePost * {
  display: flex;
  justify-self: center;
}

.CreatePost strong {
  font-size: 30px;
  text-align: center;
}

/* PostList */
.PostList article {
  border-radius: 2px;
  padding: 10px 20px;
}
.PostList article:first-of-type {
  margin-top: 20px;
}
.PostList article:nth-of-type(odd) {
  background-color: seagreen;
  color: snow;
}
.PostList article:nth-of-type(even) {
  /* Leave this in, in case we change the background */
  background-color: mediumseagreen;
  color: black;
}
